[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PulseAudio Sound System for Qubes
Exec=start-pulseaudio-with-vchan
Terminal=false
Type=Application
Categories=
GenericName=
X-GNOME-Autostart-Phase=Initialization
OnlyShowIn=QUBES;
